<p id="notice"><%= notice %></p>

<h1>Reservas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pivots.each do |pivot| %>
      <h5>Reserva hecha por: <%= pivot.user.email%></h5>
      <h5>Club: <%= pivot.club_name%></h5>
      <h5>Dirección: <%= pivot.club_address%></h5>
      <h5>Deporte: <%= pivot.sport_name%></h5>
      <h5>Status de reserva: <%= pivot.status%></h5>
      <%= link_to 'Editar Status', edit_pivot_path(pivot)%>
      <%= link_to 'Enviar Mensaje', new_response_path(:user_id => pivot.user_id, :user_moderator => pivot.moderador_id)  %>
      
     
    <% end %>
  </tbody>
</table>
<td><%= link_to 'Volver a publicaciones', publications_path %></td>
<br>


